.section {
    padding: 70px 0px;

    @media (max-width: 767px) {
        padding: 0px 0px 30px 0px;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: black;

        @media (max-width: 767px) {
            flex-direction: column;
            gap: 30px;
        }

        .infoBlock {
            @media (max-width: 767px) {
                margin-bottom: 30px;
            }

            .title {
                font-size: 50px;
                margin-bottom: 10px;
                opacity: 0;
                transform: translateX(-20px);
                transition: opacity 0.6s ease-out, transform 0.6s ease-out;

                @media (max-width: 767px) {
                    font-size: 35px;
                }

                &.animate {
                    opacity: 1;
                    transform: translateX(0);
                }
            }

            .button {
                color: black;
                cursor: pointer;
                padding: 10px 30px;
                border-radius: 20px;
                border: 1px black solid;
                margin-bottom: 70px;
                opacity: 0;
                transform: translateX(-20px);
                transition: opacity 0.6s ease-out 0.2s, transform 0.6s ease-out 0.2s;
                transition: all 0.3s ease;

                &:hover {
                    background-color: #f0f0f0;
                }

                &.animate {
                    opacity: 1;
                    transform: translateX(0);
                }
            }

            .cardsBlock {
                padding-left: 70px;
                display: flex;
                flex-direction: column;
                gap: 50px;

                @media (max-width: 767px) {
                    padding-left: 0px;
                }
            }
        }

        .videoBlock {
            max-width: 800px;
            opacity: 0;
            transform: translateX(20px);
            transition: opacity 0.6s ease-out 0.4s, transform 0.6s ease-out 0.4s;

            &.animate {
                opacity: 1;
                transform: translateX(0);
            }

            img {
                object-fit: cover;
                width: 500px;
                height: 500px;
                border-radius: 10px;
                transition: transform 0.3s ease;

                &:hover {
                    transform: scale(1.02);
                }
            }
        }
    }
}